
snippet pmain
	if __name__ == '__main__':
    t = int(input())
    for _ in range(t):
        solution = Solution()

snippet nar
	n = int(input())
	arr = list(map(int, input().split().strip()))

snippet mnar
	n = int(input())
	m = int(inpput())
	arr = [list(map(int, input().split())) for _ in range(n)]

snippet par
	print(*arr)
